version: '3.9'
services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./site:/var/www/html
    environment:
      DB_SERVER: db
      DB_USER: root
      DB_PASS: root
      DB_NAME: shopdb
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: shopdb
    ports:
      - "3306:3306"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
